/* .maindv {
    background-color: rgb(210, 237, 237);
} */
.AuthorQuiz
{
    margin-left: 10px;
    margin-right: 10px;
}
#fstline{
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
}
.ashbg {
    /* margin-top: 10px; */
    background-color: rgb(233,234,239);
    height: 150px;
    /* text-align: left; */
    display: flex;
    flex-direction: column;
    /* padding-top: 10px; */
    justify-content: center;
}

.img1 {
    height: 330px;
    width: auto;
}

.lwrdv {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}


.btndv {
    display: flex;
    flex-direction: column;

}
#line1
{
    font-size: 1.2em;
}
.btndv button
{
  margin-bottom:  20px;

}
.btn1
{  
    height: 50px ;
    width: 600px;
    background-color:rgb(241,246,255);
    text-align: left;
    border: 0px;
    border-left: 3px solid rgb(213,224,241);
  
}
.btn1:hover {
    background-color: rgb(233,234,239);
}
.lastdv
{
    display: flex;
   justify-content: flex-end;
}
.lastdv > button{
    background-color: rgb(143, 144, 149);
    border: 0cap;
     width:100px;
}