/* .maindv {
    background-color: rgb(210, 237, 237);
} */

#fstline{
    font-family: "Montserrat", sans-serif;
}
.ashbg {
    margin-top: 10px;
    background-color: rgb(233,234,239);
    height: 125px;
    text-align: left;
    padding-top: 10px;
}

.img1 {
    height: 330px;
    width: 400px;
}

.lwrdv {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}


.btndv {
    display: flex;
    flex-direction: column;

}
#line1
{
    font-size: 1.5em;
}
.btndv button
{
  margin-bottom:  20px;
}
.btn1
{  
    height: 50px ;
    width: 600px;
    background-color:rgb(241,246,255);
    text-align: left;
    border: 0px;
  
}
